@charset "UTF-8";
/*!
 * All styles for site
 */
/*!
 * Body content
 */
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
  height: 0; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }

.scale:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05); }

.animate {
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }
  .animate:hover {
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }

.visualizer-window #bg-background-window {
  height: 100%;
  width: 100%;
  z-index: 0;
  mix-blend-mode: multiply; }

.visualizer-window #bg-window {
  z-index: -1; }

.visualizer-window .visualizer-block {
  margin-bottom: 5px;
  overflow-x: auto; }
  .visualizer-window .visualizer-block .title {
    margin-bottom: 5px; }
  .visualizer-window .visualizer-block .title-name {
    font-size: 12px; }

.visualizer-window .bg {
  min-height: 100%;
  border: 3px solid #ccc; }
  .visualizer-window .bg img {
    width: 100%;
    height: auto; }

.visualizer-window .window-title {
  font-weight: bold;
  display: block;
  background: #fff;
  padding: 0 10px 2px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .visualizer-window .window-title.title-1 {
    top: 46%; }
  .visualizer-window .window-title.title-2 {
    top: 93%; }

.visualizer-window #svg {
  position: absolute;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply; }
  .visualizer-window #svg .svg-window-01, .visualizer-window #svg .svg-window-02, .visualizer-window #svg .svg-window-03 {
    fill: #ffffff; }
  .visualizer-window #svg .svg-window-01, .visualizer-window #svg .svg-window-03 {
    display: none; }

.visualizer-window .window-02 {
  display: block; }

.visualizer-window .jscolor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 0;
  cursor: pointer;
  font-size: 10px;
  text-align: center; }

.visualizer-window #bg {
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: -1; }

.visualizer-window .window-block {
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  min-width: 100%;
  width: auto;
  z-index: 3;
  background: #f1f1f1;
  padding: 5px;
  overflow-x: auto; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .visualizer-window .window-block div {
      height: 40px;
      width: 40px; } }

.visualizer-window .window-type, .visualizer-window .window-color, .visualizer-window .bg-color {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #999; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .visualizer-window .window-type, .visualizer-window .window-color, .visualizer-window .bg-color {
      height: 40px;
      width: 40px;
      background-size: contain !important; } }
  .visualizer-window .window-type:hover, .visualizer-window .window-color:hover, .visualizer-window .bg-color:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }

.visualizer-window .window-color {
  overflow: hidden;
  background-size: contain !important; }

/* Костыль для Safari*/
.row:before, .row:after {
  content: '';
  display: block;
  width: 100%;
  height: 0; }

.row:after {
  clear: both; }

/*!
 * Header content
 */
/*!
 * Main content
 */
.main {
  padding-top: 70px; }

/*!
 * Footer content
 */
