.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 40px; }
  .stepwizard p {
    margin-top: 10px; }
  .stepwizard-row {
    display: table-row; }
    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0; }
  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative; }
    .stepwizard-step .btn.disabled {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important; }

.form-wizard label {
  display: block; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

/*
 *
 * TOOLTIPTSTER DEFAULT CSS
 */
.tooltipster-default {
  border-radius: 5px;
  border: 2px solid #000;
  background: #4c4c4c;
  color: #fff; }

.tooltipster-default .tooltipster-content {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden; }

.tooltipster-icon {
  cursor: help;
  margin-left: 4px; }

.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible; }

.tooltipster-base .tooltipster-content {
  overflow: hidden; }

.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute; }

.tooltipster-arrow-top span,
.tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -7px; }

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -7px; }

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -7px; }

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -7px; }

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto; }

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px; }

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px; }

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px; }

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px; }

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -7px; }

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px; }

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -7px; }

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px; }

.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

.tooltipster-fade-show {
  opacity: 1; }

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden; }

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform; }

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  transform: rotateZ(0);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4); }

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0 !important;
  opacity: 0; }

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15); }

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0 !important;
  opacity: 0; }

.tooltipster-content-changing {
  opacity: .5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

/* *
 * TOOLTIPTSTER OVERRIDE CSS
 */
.tooltipster-light {
  border-radius: 5px;
  background-color: #F0BE00;
  color: #fff; }

.tooltipster-content {
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 10px; }

.input-group {
  width: 100%; }

.wizard-container {
  padding-top: 50px;
  padding-bottom: 50px; }

#wizardProfile .form-group {
  margin: 0;
  padding: 0; }
  #wizardProfile .form-group > div {
    width: auto;
    margin-right: 10px;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 991px) {
      #wizardProfile .form-group > div {
        width: 300px; } }

#wizardProfile .wizard-title, #wizardProfile .wizard-title a {
  font-size: 36px;
  text-transform: uppercase; }
  @media screen and (max-width: 1199px) {
    #wizardProfile .wizard-title, #wizardProfile .wizard-title a {
      font-size: 32px; } }

#wizardProfile.wizard-card .moving-tab {
  top: 0;
  height: 40px;
  left: 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  font-variant: small-caps;
  font-size: 18px; }
  @media screen and (max-width: 1199px) {
    #wizardProfile.wizard-card .moving-tab {
      font-size: 16px; } }
  @media screen and (max-width: 1199px) {
    #wizardProfile.wizard-card .moving-tab {
      font-size: 14px;
      line-height: 14px; } }
  @media screen and (max-width: 767px) {
    #wizardProfile.wizard-card .moving-tab {
      display: none; } }

#wizardProfile .wizard-description {
  background: #f4f4f4;
  padding: 10px 15px;
  text-align: justify; }

#wizardProfile .wizard-block {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between; }
  #wizardProfile .wizard-block .wizard-left {
    width: 100%;
    display: flex;
    flex-direction: column; }
    #wizardProfile .wizard-block .wizard-left-top {
      display: flex;
      align-items: center;
      height: 60%;
      justify-content: space-between;
      flex-wrap: wrap; }
      #wizardProfile .wizard-block .wizard-left-top-block {
        width: calc(50% - 2px);
        display: inline-flex;
        margin-bottom: 5px;
        justify-content: space-between; }
        @media screen and (max-width: 767px) {
          #wizardProfile .wizard-block .wizard-left-top-block {
            width: 100%; } }
        #wizardProfile .wizard-block .wizard-left-top-block .form-group {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse; }
    #wizardProfile .wizard-block .wizard-left-bottom {
      display: flex;
      height: 40%;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 15px; }
  #wizardProfile .wizard-block .wizard-right-img {
    width: 320px;
    height: 230px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border: 1px solid #00bcd4; }
    @media screen and (max-width: 1199px) {
      #wizardProfile .wizard-block .wizard-right-img {
        width: 200px; } }
    @media screen and (max-width: 991px) {
      #wizardProfile .wizard-block .wizard-right-img {
        display: none; } }
    #wizardProfile .wizard-block .wizard-right-img img {
      height: 100%; }

#wizardProfile .form-control, #wizardProfile .form-group .form-control {
  font-weight: 400;
  width: 100px;
  height: 30px;
  text-align: center; }

#wizardProfile.wizard-card[data-color="blue"] .form-group .form-control {
  background: #f4f4f4;
  margin: 0 10px 0 auto;
  caret-color: #00bcd4;
  border: 1px solid #dadada; }
  #wizardProfile.wizard-card[data-color="blue"] .form-group .form-control:focus {
    border: 1px solid #00bcd4; }

#wizardProfile.wizard-card[data-color="blue"] .moving-tab {
  box-shadow: none; }

#wizardProfile .total_price {
  font-weight: 400;
  width: 200px;
  height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  margin: 0;
  border: 1px solid #00bcd4; }

#wizardProfile .form-group.label-static label.control-label, #wizardProfile .form-group.label-placeholder label.control-label, #wizardProfile .form-group.label-floating label.control-label {
  position: relative;
  line-height: .9;
  font-size: 18px;
  color: #000;
  padding-right: 20px;
  text-align: left;
  top: 0;
  margin-top: 0; }

#wizardProfile .form-group.label-static label.control-label, #wizardProfile .form-group.label-floating.is-focused label.control-label, #wizardProfile .form-group.label-floating:not(.is-empty) label.control-label {
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: .9;
  color: #00bcd4; }
  @media screen and (max-width: 1199px) {
    #wizardProfile .form-group.label-static label.control-label, #wizardProfile .form-group.label-floating.is-focused label.control-label, #wizardProfile .form-group.label-floating:not(.is-empty) label.control-label {
      font-size: 16px; } }
  @media screen and (max-width: 991px) {
    #wizardProfile .form-group.label-static label.control-label, #wizardProfile .form-group.label-floating.is-focused label.control-label, #wizardProfile .form-group.label-floating:not(.is-empty) label.control-label {
      font-size: 14px; } }

#wizardProfile .form-group .form-control.error + label, #wizardProfile .form-group.has-error label {
  color: #ff1100 !important; }

#wizardProfile .nav {
  height: 40px;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    #wizardProfile .nav {
      flex-direction: column;
      height: 200px; } }

#wizardProfile .nav-pills > li > a {
  font-size: 18px;
  text-transform: none;
  font-variant: small-caps;
  transition: .3s;
  display: block;
  line-height: 38px; }
  @media screen and (max-width: 1199px) {
    #wizardProfile .nav-pills > li > a {
      font-size: 16px; } }
  @media screen and (max-width: 991px) {
    #wizardProfile .nav-pills > li > a {
      font-size: 14px;
      line-height: 14px; } }
  @media screen and (max-width: 767px) {
    #wizardProfile .nav-pills > li > a {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center; } }
  #wizardProfile .nav-pills > li > a:hover {
    color: #00bcd4 !important;
    transition: .3s; }

@media screen and (max-width: 767px) {
  #wizardProfile .nav-pills > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100% !important;
    height: 40px; } }

#wizardProfile .nav-pills > li:not(:last-child) > a {
  font-size: 18px;
  text-transform: none;
  font-variant: small-caps;
  transition: .3s;
  display: block;
  line-height: 38px;
  border-right: 1px solid #e4e4e4 !important; }
  @media screen and (max-width: 1199px) {
    #wizardProfile .nav-pills > li:not(:last-child) > a {
      font-size: 16px; } }
  @media screen and (max-width: 991px) {
    #wizardProfile .nav-pills > li:not(:last-child) > a {
      font-size: 14px;
      line-height: 14px; } }
  @media screen and (max-width: 767px) {
    #wizardProfile .nav-pills > li:not(:last-child) > a {
      display: flex; } }

#wizardProfile .nav-pills > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px; }
  @media screen and (max-width: 767px) {
    #wizardProfile .nav-pills > li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5px;
      padding-right: 5px;
      width: 100% !important;
      height: 40px; } }

#wizardProfile .nav-pills > li:hover {
  border: 1px solid #00bcd4 !important;
  height: 40px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center; }

#wizardProfile .btn.btn-info, #wizardProfile .btn.btn-info:hover, #wizardProfile .btn.btn-info:focus, #wizardProfile .btn.btn-info:active, #wizardProfile .btn.btn-info.active, #wizardProfile .btn.btn-info:active:focus, #wizardProfile .btn.btn-info:active:hover, #wizardProfile .btn.btn-info.active:focus, #wizardProfile .btn.btn-info.active:hover, #wizardProfile .open > .btn.btn-info.dropdown-toggle, #wizardProfile .open > .btn.btn-info.dropdown-toggle:focus, #wizardProfile .open > .btn.btn-info.dropdown-toggle:hover {
  border-radius: 0;
  margin: 0; }

#wizardProfile .currency-block input[type=radio].radio {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 80px;
  height: 44px;
  opacity: 0;
  margin: 0 !important;
  cursor: pointer; }

#wizardProfile .currency-block input[type=radio].radio + label {
  position: relative;
  padding: 0;
  cursor: pointer;
  width: 80px;
  height: 44px;
  border: none;
  border-radius: 0;
  background: #f4f4f4;
  margin-right: 5px;
  text-align: center !important;
  display: block; }

#wizardProfile .currency-block input[type=radio].radio + label span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 9; }

#wizardProfile .currency-block input[type=radio].radio:checked + label span {
  color: #fff; }

#wizardProfile .currency-block input[type=radio].radio + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 44px;
  background: #f4f4f4;
  border: 1px solid #dadada; }

#wizardProfile .currency-block input[type=radio].radio + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 44px;
  border: none;
  border-radius: 0;
  background: #00bcd4;
  opacity: 0;
  transition: .2s; }

#wizardProfile .currency-block input[type=radio].radio:checked + label:after {
  opacity: 1; }

#wizardProfile .tab-pane .control-label {
  width: 230px !important;
  padding-right: 0 !important; }
  @media screen and (max-width: 991px) {
    #wizardProfile .tab-pane .control-label {
      width: 200px !important; } }

#wizardProfile .tab-pane .form-control {
  margin-left: 0 !important; }

#wizardProfile .tab-pane p {
  margin-bottom: 0;
  order: 2;
  line-height: 16px;
  margin-top: 6px; }
  @media screen and (max-width: 991px) {
    #wizardProfile .tab-pane p {
      font-size: 14px;
      line-height: 14px; } }

#wizardProfile .tab-pane input[type=radio].radio {
  position: relative;
  z-index: 1;
  opacity: 0;
  margin: 10px 0 0 7px;
  cursor: pointer;
  order: 1; }
  #wizardProfile .tab-pane input[type=radio].radio + label {
    position: relative;
    padding: 0;
    cursor: pointer;
    color: #000;
    order: 0; }
    #wizardProfile .tab-pane input[type=radio].radio + label:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 230px;
      width: 100px;
      height: 30px;
      background: #f4f4f4;
      border: 1px solid #dadada; }
      @media screen and (max-width: 991px) {
        #wizardProfile .tab-pane input[type=radio].radio + label:before {
          left: 195px; } }
    #wizardProfile .tab-pane input[type=radio].radio + label:after {
      content: '';
      position: absolute;
      top: -5px;
      left: 230px;
      width: 100px;
      height: 33px;
      background: #00bcd4;
      opacity: 0;
      transition: .2s; }
      @media screen and (max-width: 991px) {
        #wizardProfile .tab-pane input[type=radio].radio + label:after {
          left: 195px; } }
  #wizardProfile .tab-pane input[type=radio].radio:checked + label {
    color: #00bcd4; }
    #wizardProfile .tab-pane input[type=radio].radio:checked + label:after {
      opacity: 1; }
    #wizardProfile .tab-pane input[type=radio].radio:checked + label:before {
      outline: none; }
  #wizardProfile .tab-pane input[type=radio].radio:checked + label + p {
    color: #00bcd4; }
  #wizardProfile .tab-pane input[type=radio].radio:disabled {
    cursor: no-drop; }

#wizardProfile .tab-pane .info-text {
  width: 100%;
  text-align: left; }
  #wizardProfile .tab-pane .info-text a.float-right {
    color: #00bcd4;
    text-decoration: underline;
    display: block;
    text-align: right;
    font-size: 18px; }
    @media screen and (max-width: 1199px) {
      #wizardProfile .tab-pane .info-text a.float-right {
        font-size: 16px; } }
    @media screen and (max-width: 991px) {
      #wizardProfile .tab-pane .info-text a.float-right {
        width: 100%; } }
    #wizardProfile .tab-pane .info-text a.float-right:hover {
      text-decoration: none; }
